image ds-uspd-sdcard.img {
    hdimage {
        partition-table-type = "gpt"
    }

    partition boot {
        image = "barebox-diasom-rk3568-som-evb.img"
        partition-type-uuid = "0fc63daf-8483-4772-8e79-3d69d8477de4"
        offset = 32K
        size = 2560K
    }

    partition env {
        size = 1M
        image = "env.bin"
        partition-type-uuid = "6c3737f2-07f8-45d1-ad45-15d260aab24d"
    }

    partition state {
        size = 1M
        image="state.bin"
        partition-type-uuid = "4778ed65-bf42-45fa-9c5b-287a1dc4aab1"
    }

    partition rootfs_a {
        partition-type-uuid = "b921b045-1df0-41c3-af44-4c6f280d3fae"
        image = "rootfs.ext4"
        size = 2048M
    }

    partition rootfs_b {
        partition-type-uuid = "b921b045-1df0-41c3-af44-4c6f280d3fae"
        image = "rootfs.ext4"
        size = 2048M
    }
}

# image ds-rk3568-evb-sdcard.img {
# 	hdimage {
# 		partition-table-type = "gpt"
# 	}

# 	partition boot {
# 		image = "barebox-diasom-rk3568-som-evb.img"
# 		partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
# 		offset = 32K
# 		size = 2560K # 512K * 5
# 	}

# 	partition env {
# 		image = "/dev/null"
# 		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
# 		size = 1M
# 	}

# 	partition root {
# 		image = "rootfs.ext4"
# 		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
# 	}
# }

# image ds-rk3568-smarc-evb-sdcard.img {
# 	hdimage {
# 		partition-table-type = "gpt"
# 	}

# 	partition boot {
# 		image = "barebox-diasom-rk3568-som-smarc-evb.img"
# 		partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
# 		offset = 32K
# 		size = 2560K # 512K * 5
# 	}

# 	partition env {
# 		image = "/dev/null"
# 		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
# 		size = 1M
# 	}

# 	partition root {
# 		image = "rootfs.ext4"
# 		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
# 	}
# }

# image ds-rk3568-sodimm-evb-sdcard.img {
# 	hdimage {
# 		partition-table-type = "gpt"
# 	}

# 	partition boot {
# 		image = "barebox-diasom-rk3568-som-sodimm-evb.img"
# 		partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
# 		offset = 32K
# 		size = 2560K # 512K * 5
# 	}

# 	partition env {
# 		image = "/dev/null"
# 		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
# 		size = 1M
# 	}

# 	partition root {
# 		image = "rootfs.ext4"
# 		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
# 	}
# }

# image ds-rk3588-btb-evb-sdcard.img {
# 	hdimage {
# 		partition-table-type = "gpt"
# 	}

# 	partition boot {
# 		image = "barebox-diasom-rk3588-btb-evb.img"
# 		partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
# 		offset = 32K
# 		size = 2560K # 512K * 5
# 	}

# 	partition env {
# 		image = "/dev/null"
# 		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
# 		size = 1M
# 	}

# 	partition root {
# 		image = "rootfs.ext4"
# 		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
# 	}
# }

# image ds-rk3588-smarc-evb-sdcard.img {
# 	hdimage {
# 		partition-table-type = "gpt"
# 	}

# 	partition boot {
# 		image = "barebox-diasom-rk3588-smarc-evb.img"
# 		partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
# 		offset = 32K
# 		size = 2560K # 512K * 5
# 	}

# 	partition env {
# 		image = "/dev/null"
# 		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
# 		size = 1M
# 	}

# 	partition root {
# 		image = "rootfs.ext4"
# 		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
# 	}
# }
